# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# VSCode
.vscode/

# Logs
logs/

# Model Files
artifacts/*.pkl

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar